* {
  margin: 0px;
  background-color: whitesmoke;
}

.text {
  text-align: center;
  margin-top: 100px;
  font-weight: bold;
  font-family: monospace;
  font-size: 50px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  margin-left: 400px;
  margin-right: 400px;
  border: 2px solid;
  border-radius: 10px;
  box-shadow: 5px 0.5px 2px 0.5px black;
}

#id,
.id {
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
}

.code,
#code {
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
}

.title,
#title {
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
}

.type,
#type {
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
}

.submit {
  padding: 5px;
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
  margin: 10px;
}

.next {
  font-size: 20px;
  font-family: monospace;
  border: 2px solid;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  text-decoration: none;
}
